---
import BaseLayout from "../layouts/Base.astro";
const page_title = "404 - Page Not Found";
---

<BaseLayout
  page_title={page_title}
  page_description="Oh dear. We can't find the page you're looking for."
>
  <div class="p-6 max-w-7xl">
    <h1 class="text-4xl font-bold max-w-[65ch] mb-4">404 - Page Not Found</h1>
    <p class="byline mb-2 max-w-[65ch]">
      This is <i><strong>super</strong></i> embarrassing, but we've misplaced whatever
      great post was supposed to be here.
    </p>
  </div>
</BaseLayout>
