---
import { configLoader } from "../utils/configLoader";
const CONFIG = await configLoader();

import Navigation from "./Nav.astro";
import Logo from "./Logo.astro";

let DESCRIPTION_SIDEBAR = "";
DESCRIPTION_SIDEBAR = CONFIG.DESCRIPTION_SIDEBAR ?? CONFIG.DESCRIPTION;
if (typeof CONFIG.DESCRIPTION_SIDEBAR === "undefined") {
  DESCRIPTION_SIDEBAR = "";
} else {
  DESCRIPTION_SIDEBAR =
    '<div class="mt-2 p-3">' + DESCRIPTION_SIDEBAR + "</div>";
}
---

<button
  id="hamburger"
  class="md:hidden absolute left-6 top-4 z-50 boxed shadow-[3px_3px_0px_0px] px-2 pb-1 border-2 text-2xl font-bold"
>
  &#9776;
</button>
<nav
  id="sidebar"
  class="sbbg fixed top-0 left-0 w-64 h-full text-white pt-5 overflow-y-auto transform transition-transform duration-300 ease-in-out -translate-x-full md:translate-x-0"
>
  <div id="logo" class="text-center transition-opacity duration-1000">
    <Logo />
  </div>

  <Fragment set:html={DESCRIPTION_SIDEBAR} />

  <Navigation />
</nav>

<div
  id="logoMain"
  class="text-center left-0 w-64 inline md:hidden pt-5 md:pt-0"
>
  <Logo />
</div>
