---
import { configLoader } from "../utils/configLoader";
const CONFIG = await configLoader();

import Navigation from "./Nav.astro";
import Logo from "./Logo.astro";

let sidebar_description_html_string = "";
sidebar_description_html_string =
  CONFIG.DESCRIPTION_SIDEBAR ?? CONFIG.DESCRIPTION;
if (typeof CONFIG.DESCRIPTION_SIDEBAR === "undefined") {
  sidebar_description_html_string = "";
} else {
  sidebar_description_html_string =
    '<div class="text-base-content mt-2 p-3">' +
    sidebar_description_html_string +
    "</div>";
}
---

<button
  id="hamburger"
  class="cursor-pointer rounded-field md:hidden absolute left-6 top-5 z-51 shadow-[4px_4px_0px_0px] hover:shadow-[0px_0px_0px_0px] px-2 pb-[6px] pt-[2px] border-2 text-2xl font-bold bg-base-100 text-base-content border-base-content shadow-base-content transition-shadow duration-300 ease-in-out"
>
  &#9776;
</button>
<nav
  id="sidebar"
  class="z-50 bg-base-300 fixed top-0 left-0 w-64 h-full text-white pt-5 overflow-y-auto transform transition-transform duration-300 ease-in-out -translate-x-full md:translate-x-0"
>
  <div class="flex flex-row justify-center items-center">
    <Logo sidebar={true} />
  </div>

  <Fragment set:html={sidebar_description_html_string} />

  <Navigation />
</nav>

<Logo sidebar={false} />
