---
import TagsSection from "./TagsSection.astro";
import { CONFIG } from "../config/config.js";
import NavLinkSingle from "./NavLinkSingle.astro";
---
<div class="m-3">
  <ul>
    {
      CONFIG.NAV_LINKS.map((navlink) => {
        const { label, url } = navlink;
        if (!navlink.suppress) {
          return (
            <NavLinkSingle url={url} label={label} />
          );
        }
      })
    }
  </ul>
  {
    () => {
      if (CONFIG.SIDEBAR_TAGS) {
        return <TagsSection />;
      }
    }
  }
</div>