---
interface Props {
  label: String;
  url: String;
}

const { label, url } = Astro.props;
---

<div class="flex">
  <a href={url.toString()} class="md:w-full w-full">
    <button
      class="boxed bg-sidebar-dark text-sidebar-light shadow-sidebar-shadow font-bold cursor-auto rounded-sm shadow-[3px_3px_0px_0px] hover:shadow-[0px_0px_0px_0px] transition-shadow w-full dmd:w-auto px-2 pb-1 pt-1 mt-2 border-1"
    >
      {label}
    </button>
  </a>
</div>
