---
import { configLoader } from "../utils/configLoader";
const CONFIG = await configLoader();

import { filterBlogPosts } from "../utils/filterBlogPosts";

import { getCollection } from "astro:content";
import TagSingle from "./TagSingle.astro";

// when defining constants like this, should I use uppercase or lowercase?
const SIDEBAR_TAGS_MIN_POST_QTY = CONFIG.SIDEBAR_TAGS_MIN_POST_QTY ?? 1;
const SIDEBAR_TAGS_SUPPRESS = CONFIG.SIDEBAR_TAGS_SUPPRESS ?? [];
const SIDEBAR_TAGS_SHOW_COUNT = CONFIG.SIDEBAR_TAGS_SHOW_COUNT ?? false;

const blog_posts = filterBlogPosts(await getCollection("blog"));

let tag_meta: { [key: string]: { count: number } } = {};

blog_posts.forEach((post) => {
  // Check if post.data.tags exists and is an array
  if (Array.isArray(post.data.tags) && post.data.tags.length > 0) {
    post.data.tags.forEach((tag: string) => {
      if (tag_meta[tag]) {
        tag_meta[tag].count++;
      } else {
        tag_meta[tag] = { count: 1 };
      }
    });
  }
});

let tags = [];
for (let tag in tag_meta) {
  if (
    tag_meta[tag].count >= SIDEBAR_TAGS_MIN_POST_QTY &&
    !SIDEBAR_TAGS_SUPPRESS.includes(tag)
  ) {
    tags.push(tag);
  }
}
---

<style>
  /* https://jsfiddle.net/cv8w2ph9/ */
  .strike {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
  }

  .strike > span {
    position: relative;
    display: inline-block;
  }

  .strike > span:before,
  .strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 3px;
    background: white;
  }

  .strike > span:before {
    right: 100%;
    margin-right: 0px;
  }

  .strike > span:after {
    left: 100%;
    margin-left: 0px;
  }
</style>
<div class="mt-4">
  <div class="strike text-center rounded-sm">
    <span class="boxed rounded-sm border-2 border-sidebar-light px-1">Tags</span
    >
  </div>
  <div>
    {
      tags.map((tag) => (
        <TagSingle
          label={tag}
          url={`/tags/${tag.replace(/\s+/g, "-")}`}
          count={tag_meta[tag].count}
          display_count={SIDEBAR_TAGS_SHOW_COUNT}
          sidebar={true}
        />
      ))
    }
  </div>
</div>
