---
interface Props {
  label: String;
  url: String;
  count: Number;
  display_count: Boolean;
  sidebar: Boolean;
}

const { label, url, count, display_count, sidebar } = Astro.props;

let tag_classes: string;
if (sidebar) {
  tag_classes = "bg-sidebar-dark text-sidebar-light shadow-sidebar-shadow";
} else {
  tag_classes = "bg-sidebar-light text-sidebar-dark shadow-main-shadow";
}
---

<a href={url.toString()} class="md:w-auto w-full no-underline">
  <button
    class={`${tag_classes} boxed
    cursor-auto
    rounded-sm
    mr-1
    transition-shadow
    shadow-[3px_3px_0px_0px]
    hover:shadow-[0px_0px_0px_0px]
    w-auto
    px-1
    py-0
    mt-2
    border-1`}
  >
    #{label}{
      () => {
        if (display_count) {
          return ` (${count})`;
        } else {
          return "";
        }
      }
    }
  </button>
</a>
