---
interface Props {
  label: String;
  url: String;
  count: Number;
  display_count: Boolean;

}

const { label, url, count, display_count } = Astro.props;
---
<a href={url.toString()} class="md:w-auto w-full">
  <button class="boxed cursor-auto mr-1 rounded-btn transition-shadow shadow-[2px_2px_0px_0px] w-auto px-1 py-0 mt-1 border-1">
    #{label}{ 
      ()=> {
        if (display_count) {
          return(` (${count})`)
        } else {
          return('')
        }
      }
    }
  </button>
</a>