---
const { label, url, big } = Astro.props;
let bigquote: string;
if (big) {
  bigquote = "text-[1.7rem]";
} else {
  bigquote = "";
}

---

<blockquote cite={url ? url : undefined}>
  <span class={`${bigquote} quote`}><slot /></span>
  {
    label ? (
        <br />
        <br />
        <span>&nbsp;&mdash;&nbsp;</span>
        <cite>{url ? <a href={url}>{label}</a> : label}</cite>
    ) : null
  }
</blockquote>
