---
interface Props {
  light?: string;
  bg?: string;
}
const { light = "true", bg = "false" } = Astro.props;
const transform_class = light == "true" ? "diagram-td" : "diagram-tl";

const bg_colour_class = (bg != "false" && bg != "true") ?
  bg :
  "bg-base-300";
---
<style>
    @media (prefers-color-scheme: light) {
        .diagram-tl {
            filter: invert(1) hue-rotate(180deg);
        }
    }
    @media (prefers-color-scheme: dark) {
        .diagram-td {
            filter: invert(1) hue-rotate(180deg);
        }
    }
</style>
{bg != "false" ? (
    <div class={`diagram-container ${bg_colour_class} rounded-field p-4`}>
        <div class={`spec ${transform_class}`}>
            <slot />
        </div>
    </div>
) : (
    <div class={`${transform_class}`}>
        <slot />
    </div>
)}